// // Variables
// @import 'variables';

// .btn-upload {
//     font-weight: 700;

//     &::before {
//         font-family: $font-font-awesome;
//         content: "\f35b";
//         font-weight: 900;
//         font-size: 1.2rem;
//         margin-right: .25rem;
//     }
// }

// .btn-profileimage {
//     --bs-btn-color: var(--bs-white);
//     position: absolute;
//     padding: .2rem 1rem;
//     font-size: 1.45rem;
//     border-radius: 4px;
//     right: 40px;
//     bottom: -20px;
//     transform: scale(1);
//     transition: all 280ms ease-in-out;
//     // z-index: 9001;
// }

.btn-floating {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    font-size: 1.2rem;
    bottom: 25px;
    right: 25px;
	text-align: center;
}

.btn-add-player {
    --bs-btn-color: var(--bs-success);
}

.btn-remove-player {
    --bs-btn-color: var(--bs-danger);
}

.btn-up-player {
    --bs-btn-color: var(--bs-secondary);
}

.btn-down-player {
    --bs-btn-color: var(--bs-secondary);
}
