#app {
    display: flex;
    width: 100%;

    --bs-breadcrumb-font-size: .8rem;

    --bs-nav-link-font-size: .85rem;
    --bs-nav-link-padding-y: .45rem;
}

#sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    // position: fixed;
    min-width: 230px;
    max-width: 230px;
    min-height: 100vh;
    z-index: 999;
    transition: all .3s;
    margin-left: -230px;
}

#sidebar.active {
    margin-left: 0;
}

.vertical-divider {
    height: 100%;
    margin: 0 1rem;
    padding: 0;
    border-left: var(--bs-border-width) solid; /*var(--bs-primary) #ffb600*/
    opacity: 0.5;
}

.nav-brand-sub {
    position: relative;
    align-items: center;
    font-size: 1.7rem;
    color: #fff;
    // transform: rotate(45deg);

    // span {
    //     position: absolute;
    //     bottom: 0;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     background-color: red;
    // }
    span {
        font-family: 'Montserrat';
        font-weight: 900;
        line-height: .8;
    }
}

.nav-sm  {
    --bs-nav-link-padding-y: 0.2rem;

    .nav-link {

        i {
            font-size: .9rem;
        }
    }
}

.nav-item {
    margin-bottom: .255rem;
}

.nav-link {
    display: flex;
    align-items: center;

    &:hover {
        color: var(--bs-white);
        background-color: var(--bs-primary);
    }

    i {
        font-size: 1.1rem;
    }

    .nav-text {
        margin-left: 1rem;
    }
}

.has-submenu::after {
    font: var(--fa-font-solid);
    content: "\f0d7";
    font-size: .75em;
    padding: 0 0 0 .475em;
}

.submenu {

}

.submenu-item {
    display: block;
    padding: .255rem 0;
}

#topBar {
    display: flex;
    align-items: center;
    // padding: .275rem 2rem;
    width: 90%;
}

main {
    width: 100%;
    transition: all .3s;
    // position: absolute;
    // top: 0;
    // right: 0;
    // width: calc(100% - 250px);
}

@media (max-width: 1000px) {
    #sidebar.active {
        margin-left: -230px;
    }
    #sidebar {
        margin-left: 0px;
    }
}
