#app {
    display: flex;
    width: 100%;
}

#sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    // position: fixed;
    min-width: 260px;
    max-width: 260px;
    min-height: 100vh;
    z-index: 999;
    transition: all .3s;
    margin-left: -260px;
}

#sidebar.active {
    margin-left: 0;
}

.vertical-divider {
    height: 100%;
    margin: 0 1rem;
    padding: 0;
    border-left: var(--bs-border-width) solid; /*var(--bs-primary) #ffb600*/
    opacity: 0.5;
}

.nav-brand-sub {
    position: relative;
    align-items: center;
    font-size: 1.7rem;
    color: #fff;
    // transform: rotate(45deg);
}

.nav-link {
    display: flex;
    align-items: center;

    &:hover {
        color: var(--bs-white);
        background-color: var(--bs-primary);
    }

    i {
        font-size: 1.2rem;
    }

    .nav-text {
        margin-left: 1rem;
    }
}

.has-submenu::after {
    font: var(--fa-font-solid);
    content: "\f0d7";
    font-size: .75em;
    padding: 0 0 0 .475em;
}

.submenu {

}

.submenu-item {
    display: block;
}

#topBar {
    display: flex;
    align-items: center;
    padding: .275rem 2rem;
    width: 90%;
}

main {
    width: 100%;
    transition: all .3s;
    // position: absolute;
    // top: 0;
    // right: 0;
    // width: calc(100% - 250px);
}

@media (max-width: 1000px) {
    #sidebar.active {
        margin-left: -260px;
    }
    #sidebar {
        margin-left: 0px;
    }
}
