body {
    min-height: 100vh;
    background-color: var(--bs-tertiary-bg);
    display: flex;
}

#app {
    width: 100%;
    background-image: url('/storage/lowpoly3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-brand-logo {
    display: flex;
    justify-content: center;
    padding: 2rem 0 2rem 0;
}
