.playercard {
    position: relative;
    word-wrap: break-word;
    background-clip: border-box;
    border: 2px solid rgba(255, 255, 255, .1);
    border-radius: .375rem;
    background-color: #2b2b2b;

    .playercard-body {

    }

    .playercard-total-points {
        font-size: 2rem;
        border-right: 1px solid rgba(255, 255, 255, .15);
        padding: .2rem .475rem;
    }

    .playercard-throw-count {
        border-top: 1px solid rgba(255, 255, 255, .15);
        border-right: 1px solid rgba(255, 255, 255, .15);
        padding: .275rem 0 0 0;
    }

    .playercard-throw-points {
        border-right: 1px solid rgba(255, 255, 255, .15);
        // padding: .375rem;
    }
}



.podium-container {
    height: 200px;
}

.podium {
    color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}

.podium-user {
    font-size: .8rem;
}

.podium-gold {
    height: 200px;
    background-color: #C9B037;
    font-size: 2rem;

    .podium-place {
        font-weight: 900;
    }

    .podium-user {
        font-weight: bolder;
    }

    .fa-trophy {
        animation: bounce; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 1s; /* don't forget to set a duration! */
        animation-delay: 1500ms;
        animation-iteration-count: 3;
    }
}

.podium-silver {
    height: calc(200px * .65);
    background-color: #B4B4B4;
    font-size: 1.8rem;

    .podium-place {
        font-weight: bolder;
    }

    .podium-user {

    }
}

.podium-silver-outline {
    background-color: transparent !important;
    border: 3px #B4B4B4 dashed;
    border-bottom: 0;
}

.podium-bronze {
    height: calc(200px * .4);
    background-color: #AD8A56;
    font-size: 1.2rem;

    .podium-place {
        font-weight: bolder;
    }
    .podium-user {

    }
}

.podium-bronze-outline {
    background-color: transparent !important;
    border: 3px #AD8A56 dashed;
    border-bottom: 0;
}

.throw-1 {
    animation: zoomIn;
    animation-duration: 4s;
}

body::after {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    width: 90vw;
    height: 50vh;
    background-image: url(/img/blubber2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.03;
    z-index: -1;
}


#scroll-container {
    position: fixed;
    overflow: hidden;
    background-color: #C9B037;
    color: #2b2b2b;
    font-weight: 700;
    white-space: nowrap;
}

#scroll-text {
    transform: translateX(100%);
    animation: scrollAnimation 15s linear infinite;
}

@keyframes scrollAnimation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
