.playercard {
  position: relative;
  word-wrap: break-word;
  background-clip: border-box;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.375rem;
  background-color: #2b2b2b;
}
.playercard .playercard-total-points {
  font-size: 2rem;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0.2rem 0.475rem;
}
.playercard .playercard-throw-count {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0.275rem 0 0 0;
}
.playercard .playercard-throw-points {
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.podium-container {
  height: 200px;
}

.podium {
  color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.podium-user {
  font-size: 0.8rem;
}

.podium-gold {
  height: 200px;
  background-color: #C9B037;
  font-size: 2rem;
}
.podium-gold .podium-place {
  font-weight: 900;
}
.podium-gold .podium-user {
  font-weight: bolder;
}
.podium-gold .fa-trophy {
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
  animation-delay: 1500ms;
  animation-iteration-count: 3;
}

.podium-silver {
  height: 130px;
  background-color: #B4B4B4;
  font-size: 1.8rem;
}
.podium-silver .podium-place {
  font-weight: bolder;
}
.podium-silver-outline {
  background-color: transparent !important;
  border: 3px #B4B4B4 dashed;
  border-bottom: 0;
}

.podium-bronze {
  height: 80px;
  background-color: #AD8A56;
  font-size: 1.2rem;
}
.podium-bronze .podium-place {
  font-weight: bolder;
}
.podium-bronze-outline {
  background-color: transparent !important;
  border: 3px #AD8A56 dashed;
  border-bottom: 0;
}

.throw-1 {
  animation: zoomIn;
  animation-duration: 4s;
}

body::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  width: 90vw;
  height: 50vh;
  background-image: url(/img/blubber2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.01;
  z-index: -1;
}

#scroll-container {
  position: fixed;
  overflow: hidden;
  background-color: #C9B037;
  color: #2b2b2b;
  font-weight: 700;
  white-space: nowrap;
}

#scroll-text {
  transform: translateX(100%);
  animation: scrollAnimation 15s linear infinite;
}

@keyframes scrollAnimation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
