#app {
  display: flex;
  width: 100%;
  --bs-breadcrumb-font-size: .8rem;
}

#sidebar {
  position: fixed;
  display: flex;
  margin-left: -230px;
  flex-direction: column;
  flex-shrink: 0;
  width: 230px;
  height: 100vh;
  z-index: 999;
  transition: all 0.3s;
  overflow-y: auto;
}
#sidebar ol, #sidebar ul {
  padding-left: 0.625rem;
}
#sidebar ol ol, #sidebar ol ul, #sidebar ul ol, #sidebar ul ul {
  padding-left: 1.1em;
}

#sidebar.active {
  margin-left: 0;
}

#sidebar:not(.active) ~ main {
  width: 100vw;
  left: 0;
}

.nav-sm .nav-link {
  --bs-nav-link-padding-y: 0.2rem;
}
.nav-sm .nav-link i {
  font-size: 0.9rem;
}

.nav-item {
  margin-bottom: 0.175rem;
}

.nav-link {
  display: flex;
  align-items: center;
  position: relative;
  --bs-nav-link-font-size: .8rem;
  --bs-nav-link-padding-x: .55rem;
  --bs-nav-link-padding-y: .45rem;
}
.nav-link:hover {
  color: var(--bs-white);
  background-color: var(--bs-primary);
}
.nav-link i {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  min-width: 20px;
}
.nav-link .nav-text {
  margin-left: 1rem;
}

.has-submenu::after {
  font: var(--fa-font-solid);
  content: "\f078";
  font-size: 0.75em;
  padding: 0 0 0 0.475em;
}

.submenu-item {
  display: block;
  padding: 0.15rem 0;
}

.submenu-link {
  --bs-nav-link-font-size: .6rem;
  --bs-nav-link-padding-y: .2rem;
}

#topBar {
  display: flex;
  align-items: center;
  width: 90%;
}

main {
  position: relative;
  width: calc(100% - 230px);
  left: 230px;
  transition: all 0.3s;
}

@media (max-width: 992px) {
  #sidebar {
    margin-left: 0px;
  }
  #sidebar.active {
    margin-left: -230px;
  }
  #sidebar.active ~ main {
    width: 100vw;
    left: 0;
  }
  #sidebar:not(.active) ~ main {
    width: calc(100% - 230px);
    left: 230px;
  }
}
