.c-Dartboard {
    stroke: rgb(133, 133, 133);
    stroke-width: 2px;
    /* stroke: silver;
    stroke-width: 2px; */
}

.c-Dartboard-borders {
    fill: black;
}
.c-Dartboard-borderLabel {
    font-family: 'Roboto';
    font-weight: bold;
    fill: white;
    stroke-width: 0;
}

.c-Dartboard-bed.isDark {
    fill: black;
}

.c-Dartboard-bed.isLight {
    fill: ivory;
}

.c-Dartboard-double .c-Dartboard-bed.isDark,
.c-Dartboard-triple .c-Dartboard-bed.isDark,
.c-Dartboard-innerBull .c-Dartboard-bed.isDark,
.c-Dartboard-outerBull .c-Dartboard-bed.isDark {
    fill: #E3292E;
}

.c-Dartboard-double .c-Dartboard-bed.isLight,
.c-Dartboard-triple .c-Dartboard-bed.isLight,
.c-Dartboard-innerBull .c-Dartboard-bed.isLight,
.c-Dartboard-outerBull .c-Dartboard-bed.isLight {
    fill: #32a63b;
}

.c-Dartboard-bed:hover, .c-Dartboard-border:hover {
    fill-opacity: 0.6;
    cursor: pointer;
}

.hitMarker {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #000;
    border: 2px solid #fff ;
}
